* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 1;
}

.parent-container {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
}

.container {
  width: 40rem;
  /* margin: 4rem auto; */
  font-size: 2.4rem;
  background-color: blueviolet;
  padding: 4rem;
  border-radius: 1.1rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.list-item {
  padding: 2rem 4rem;
  background-color: blanchedalmond;
  border-radius: 1.1rem;
  text-transform: capitalize;
  text-align: center;
  /* cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
 */
}

.list-item:not(:last-child) {
  margin-bottom: 2rem;
}

/* .list-item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
} */
